body {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

.canvas-container {
    position: absolute;
    top: 0;
    right: 0;

    width: 50%;
    height: 100%;

    background-color: black;

    &_canvas {
        
    }
}
